*
{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}


.row
{
	max-width: 1140px;
	margin: 0 auto;
}

body
{
	font-family: unset;
}

.intro
{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),url(Images/cupcakes.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1
{
	color: white;
}

.navigation li
{
	display: inline-block;
	list-style: none;
	float: right;
	position: relative;
	margin-left: 20px;
	margin-top: 40px;
}

.navigation li a 
{
	color: whitesmoke;
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
}

.navigation li a:hover
{
	color: #EE82EE;
	border-bottom: 2px solid #EE82EE;
	transition: all 0.5s ease-in;
	padding: 5px 0;
}


.logo img 
{
	display: inline-block;
	float: left;
	height: 100px;
	margin-top: 30px;
}


.btn 
{
	display: inline-block;
	border: 1px solid #EE82EE;
	padding: 10px 30px;
	color: #EE82EE;
	text-decoration: none;
	border-radius: 12px;
}

.button-a
{
	margin-top: 50px;
}

.btn-half:hover
{
	background-color: #EE82EE;
	color: white;
	transition: all 0.5s ease-in;
}

.btn-full:hover
{
	background-color: #EE82EE;
	color: white;
	transition: all 0.5s ease-in;
}

.copy
{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 20px;
}

h3:after
{
	width: 100px;
	height: 2px;
	background-color: #EE82EE;
	display: block;
	contain: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.features h3
{
	margin-top: 80px;
	margin-bottom: 30px;
}

.arranging
{
	text-align: justify;
}

.features i
{
	font-size: 50px;
	color: #EE82EE;
	margin-left: 25%;
}

.features h4
{
	margin-left: 40px;
}

.showcase {
	list-style: none;
	width: 100%;
}

.showcase li {
	display: block;
	width: 25%;
	float: left;
}

.photos {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.photos img {
	width: 100%;
	height: auto;
	margin-bottom: 0;
	transform: scale(1.15);
	transition: all 0.5s;
}

.photos img:hover {
	transform: scale(1.05);
}

.cupcakes {
	margin-top: 60px;
}

.map_text {
	margin-left: 5%;
}

.map_text h3 {
	margin-top: 80px;
}

.testimonials {
	margin-top: 80px;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),url(Images/trandafiri2.jpg);
	padding-bottom: 80px;
	padding-top: 60px;
	color: white;
	background-attachment: fixed;
}

.testimonials p {
	color: whitesmoke;
	line-height: 25px;
	text-align: justify;
	margin-top: 40px;
}

.testimonials cite img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.btn-block {
	background-color:#EE82EE ;
	color: #fff;
	border-radius: 4px;
	margin-top: 20px;
}

.gap {
	margin-top: 40px;
}

.form h3{
	float: right;
	margin-top: 40px;
}

.order h3 {
	margin-top: 40px;
}